.ngx-datatable.material {
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.mb-24 {
    margin: 0 0 24px 0;
}

.table-link{
    color: #039BE5;
    cursor: pointer;
}


.loading {
    position: relative;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


.container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;
}

.item {
    box-sizing: border-box;    
    margin-bottom: 8px;    
}

.m-12 {
    margin: 12px;
}

.m-8 {
    margin: 8px;
}

.m-4 {
    margin: 4px;
}

.link {
    text-decoration: underline;
    color: #039BE5;
    cursor: pointer;
}

.muted {
    opacity: 0.5;
}