<input-component
  *ngIf="!uiElement.type || uiElement.type == 'input'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></input-component>
<selection
  *ngIf="uiElement.type == 'selection'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></selection>
<autocomplete
  *ngIf="uiElement.type == 'autocomplete'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></autocomplete>
<uploader
  *ngIf="uiElement.type == 'uploader'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></uploader>
<button-component
  *ngIf="uiElement.type == 'button'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></button-component>
<signature
  *ngIf="uiElement.type == 'signature'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></signature>
<typography
  *ngIf="uiElement.type == 'typography'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></typography>
<data-table
  *ngIf="uiElement.type == 'data-table'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></data-table>
<form-generator
  *ngIf="uiElement.type == 'form-generator'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></form-generator>
<filter-group
  *ngIf="uiElement.type == 'filter-group'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></filter-group>
<calendar
  *ngIf="uiElement.type == 'calendar'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></calendar>
<div
  *ngIf="uiElement.type == 'layout' && condition(uiElement)"
  [ngStyle]="uiElement.layoutStyle"
  [ngStyle]="uiElement.layoutClass"
>
  <ui-layout-wrapper
    *ngFor="let ui of uiElement.screen"
    [ngStyle]="ui.layoutStyle"
    [uiElement]="ui"
    [(data)]="data"
  ></ui-layout-wrapper>
</div>
<div
  *ngIf="uiElement.type == 'div' && condition(uiElement)"
  [ngStyle]="uiElement.layoutStyle"
  [ngClass]="uiElement.layoutClass"
></div>
<mat-divider
  *ngIf="uiElement.type == 'divider' && condition(uiElement)"
  [ngStyle]="uiElement.style"
  [ngClass]="uiElement.class"
></mat-divider>
<progress-bar
  *ngIf="uiElement.type == 'progress-bar'"
  [uiElement]="uiElement"
  [(data)]="data"
  [ngStyle]="uiElement.layoutStyle"
></progress-bar>
<script-box
  *ngIf="uiElement.type == 'script-box'"
  [uiElement]="uiElement"
  [(data)]="data"
></script-box>
