{{isAuthenticated}}

<ng-container *ngIf="!isAuthenticated">
  <login></login>
</ng-container>

<ng-container *ngIf="isAuthenticated">
  <mat-sidenav-container fullscreen>
    <mat-sidenav
      #drawer
      fixedInViewport="true"
      class="mat-elevation-z2 no-print"
      [ngStyle]="config.get('navigation.style')"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"      
    >
      <nav-vertical></nav-vertical>
    </mat-sidenav>

    <mat-sidenav-content [ngStyle]="config.get('content.layoutStyle')">
      <toolbar [ngStyle]="config.get('toolbar.layoutStyle')" *ngIf="config.get('toolbar.show', true)"></toolbar>
      <ui-composer [ngStyle]="config.get('content.style')"></ui-composer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
