/* Column Widths */
.mat-column-Size,
.mat-column-Progress,
.mat-column-Status {
  max-width: 128px;
}


.mat-column-Action {
  max-width: 64px;
}

.mb-24 {
  margin: 0 0 24px 0;
}

.mb-12 {
  margin: 0 0 12px 0;
}

.mt-24 {
  margin: 24px 0 0 0;
}

.p-12 {
  padding: 12px;
}