<!-- date input -->
<mat-form-field *ngIf="uiElement.dateType == 'date'" [appearance]="uiElement.appearance" [style]="uiElement.style"
    [class]="uiElement.class" [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'">
    <mat-label>
        {{
        uiElement.label
        }}
    </mat-label>
    <input matInput [matDatepicker]="picker" [evalValidate]="uiElement.errorCondition"
        [placeholder]="uiElement.placeholder" [(ngModel)]="value" [required]="uiElement.required"
        [readonly]="uiElement.readonly" [disabled]="uiElement.disabled" />
    <mat-datepicker-toggle matPrefix [for]="picker" [style]="uiElement.iconStyle">
    </mat-datepicker-toggle>
    <mat-datepicker #picker [startView]="uiElement.startView ?? 'month'"
        (monthSelected)="setMonthAndYear($event, picker)">
    </mat-datepicker>
</mat-form-field>

<!-- datetime input -->
<mat-form-field *ngIf="uiElement.dateType == 'datetime'" [appearance]="uiElement.appearance" [style]="uiElement.style"
    [class]="uiElement.class" [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'">
    <mat-label>
        {{
        uiElement.label
        }}
    </mat-label>
    <input matInput [evalValidate]="uiElement.errorCondition" [placeholder]="uiElement.placeholder" [(ngModel)]="value"
        [required]="uiElement.required" [readonly]="uiElement.readonly" [disabled]="uiElement.disabled"
        (keyup.enter)="keyupEnter()" (focus)="focus($event)" type="datetime-local" [step]="uiElement.step??900" />
</mat-form-field>

<!-- time input -->
<mat-form-field *ngIf="uiElement.dateType == 'time'" [appearance]="uiElement.appearance" [style]="uiElement.style"
    [class]="uiElement.class" [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'">
    <mat-label>
        {{
        uiElement.label
        }}
    </mat-label>
    <input matInput [evalValidate]="uiElement.errorCondition" [placeholder]="uiElement.placeholder" [(ngModel)]="value"
        [required]="uiElement.required" [readonly]="uiElement.readonly" [disabled]="uiElement.disabled"
        (keyup.enter)="keyupEnter()" (focus)="focus($event)" type="time" />
</mat-form-field>

<!-- date-range input -->
<mat-form-field *ngIf="uiElement.dateType == 'date-range'" [appearance]="uiElement.appearance" [style]="uiElement.style"
    [class]="uiElement.class" [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'">
    <mat-label>
        {{
        uiElement.label
        }}
    </mat-label>

    <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="start" [placeholder]="uiElement.startPlaceholder??''">
        <input matEndDate [(ngModel)]="end" [placeholder]="uiElement.endPlaceholder??''">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker">
    </mat-datepicker-toggle>
    <mat-date-range-picker #picker>
    </mat-date-range-picker>

</mat-form-field>