<div class="item-container mat-elevation-z2">
  <div class="item-header" [style.backgroundColor]="uiElement.headerColor ? uiElement.headerColor : headerColor">
    <div [style.color]="uiElement.headerTextColor ? uiElement.headerTextColor : '#FFFFFF'">
      {{uiElement.name}}</div>
    <small *ngIf="uiElement.description">{{uiElement.description}}</small>
  </div>
  <div class="item" [style.minHeight]="uiElement.height ? uiElement.height : ''"
    fxLayout fxLayoutAlign="center center">
      <h1>{{content}}</h1>
  </div>
</div>