<!-- Close Button -->
<button
  class="mat-icon-button back"
  (click)="event.send({ name: 'drawer-toggle' })"
>
  <span class="mat-button-wrapper">
    <mat-icon
      class="secondary-text mat-icon material-icons"
      [ngStyle]="config.get('theme.navigation.close.style')"
    >
      close</mat-icon
    >
  </span>
</button>

<div [ngStyle]="config.get('theme.navigation.header.style')">
  <ng-container *ngFor="let ui of config.get('theme.navigation.header.screen')">
    <ng-container
      ui-layout-wrapper
      [uiElement]="ui"
      [data]="data"
    ></ng-container>
  </ng-container>
</div>

<user></user>

<ng-container *ngFor="let item of config.get('nav')">
  <a
    *ngIf="item.type == 'item' && checkPermission(item)"
    class="nav-link"
    [routerLink]="[item.url]"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: item.exactMatch || false }"
    matRipple
  >
    {{ item.name }}
  </a>

  <mat-expansion-panel
    *ngIf="item.type == 'collapse' && checkPermission(item)"
    [expanded]="isUrlInChildren(item, currUrl)"
    class="navigation"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngFor="let child of item.children">
      <a
        *ngIf="child.type != 'sub' && checkPermission(item)"
        class="nav-link"
        style="padding: 0 48px"
        [routerLink]="[child.url]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: child.exactMatch || false }"
        matRipple
        >{{ child.name }}</a
      >
    </ng-container>
  </mat-expansion-panel>
</ng-container>

<div class="nav-footer"></div>
