:host {
    height: 100%;
}

.header {    
    color: white;
    padding: 30px 0 30px 0;
}

.nav-footer {
    height: 30px;
}

.mat-nav-list {
    margin: 0;
    padding: 0;
}

.navigation {
    /deep/ .mat-expansion-panel-body {
        padding: 0 !important;
    }
}


.nav-link {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    color: currentColor;
    background: white;

    > .nav-link-title {
        flex: 1;
        white-space: nowrap;
    }

    .nav-link-badge {
        display: flex;
        align-items: center;
        min-width: 20px;
        height: 20px;
        padding: 0 7px;
        font-size: 11px;
        font-weight: 500;
        border-radius: 20px;
        transition: opacity 0.2s ease-in-out 0.1s;
        margin-left: 8px;

        + .collapse-arrow {
            margin-left: 8px;
        }
    }

    &:hover {
        color: white;
        background-color: #039BE5;
    }

    .mat-ripple-element {
        background-color: #039BE5;
    }

    &.active {
        color: white;
        background-color: #039BE5;

        .mat-ripple-element {
            background-color: #039BE5;
        }

        &, .nav-link-icon {
            color: white;
        }

        .nav-link-badge {
            background: #FFFFFF !important;
            color: rgba(0, 0, 0, 0.87) !important;
        }
    }

    .nav-link-icon {
        margin-right: 16px;
    }

    .nav-link-icon,
    .collapse-arrow {
        font-size: 16px;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        line-height: 16px;
    }
}