<mat-sidenav-container [style]="uiElement.containerStyle" [class]="uiElement.containerClass">
  <mat-sidenav-content [style]="uiElement.contentStyle" [class]="uiElement.contentClass" #content>
    <ng-container *ngFor="let ui of uiElement.screens">
      <ng-container *ngIf="condition(ui)">
        <ng-container ui-element [uiElement]="ui" [data]="data"></ng-container>
      </ng-container>
    </ng-container>
  </mat-sidenav-content>
  <mat-sidenav #sidenav *ngIf="uiElement.sideCondition ? condition({condition: uiElement.sideCondition}) : true"
    [opened]="uiElement.opened ? safeEval(uiElement.opened) : false"
    [mode]="uiElement.mode ? safeEval(uiElement.mode) : 'over'"
    [position]="uiElement.position ? safeEval(uiElement.position) : 'start'" [ngStyle]="uiElement.sideStyle"
    [ngClass]="uiElement.sideClass">
    <ng-container *ngFor="let ui of uiElement.sideScreens">
      <ng-container *ngIf="condition(ui)">
        <ng-container ui-element [uiElement]="ui" [data]="data"></ng-container>
      </ng-container>
    </ng-container>
  </mat-sidenav>
</mat-sidenav-container>