<!-- File uploader -->
<input
  hidden
  type="file"
  #fileInput
  ng2FileSelect
  (change)="change($event)"
  multiple
  [accept]="uiElement.accept ? uiElement.accept : '*'"
/>
<input
  hidden
  type="file"
  #cameraInput
  (change)="change($event)"
  multiple
  capture="camera"
  [accept]="uiElement.accept ? uiElement.accept : '*'"
/>

<!-- uploading progress -->
<ng-container *ngIf="uploader?.queue?.length">
  <mat-card *ngFor="let item of uploader.queue" style="margin: 8px; background: aliceblue">
    <mat-card-content>
      <div>{{ item?.file?.name }}</div>
      <div>{{ item?.file?.size / 1024 | number: ".2" }} kb</div>
      <div>{{ item.progress }}</div>
      <div>
        <span *ngIf="item.isSuccess">OK</span>
        <span *ngIf="item.isCancel">X</span>
        <span *ngIf="item.isError">Error</span>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
