<eco-fab-speed-dial *ngIf="workflows && workflows.length > 0"
                    class="workflow-button no-print"
                    [(open)]="open"
                    [direction]="direction"
                    [animationMode]="animationMode"
                    [fixed]="fixed">
  <eco-fab-speed-dial-trigger [spin]="spin">
    <button mat-fab color="warn">
      <mat-icon>add</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button *ngFor="let action of workflows"
            [matTooltip]="action.name"
            mat-mini-fab
            color="warn"
            (click)="action.action()">
      <mat-icon>{{action.icon}}</mat-icon>
    </button>
  </eco-fab-speed-dial-actions>

</eco-fab-speed-dial>
