<div class="mat-elevation-z2 item-container">

  <div class="item-header" [style.backgroundColor]="uiElement.headerColor ? uiElement.headerColor : headerColor">
    <div [style.color]="uiElement.headerTextColor ? uiElement.headerTextColor : '#FFFFFF'">
      {{uiElement.name}}</div>
    <blockquote *ngIf="uiElement.description">{{uiElement.description}}</blockquote>
  </div>

  <div class="item" [style.minHeight]="uiElement.height ? uiElement.height : '200px'">

    <ngx-charts-bar-vertical *ngIf="! uiElement.chartType || uiElement.chartType == 'bar-chart'" [scheme]="colorScheme"
      [results]="data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>

    <ngx-charts-pie-chart *ngIf="uiElement.chartType && uiElement.chartType == 'pie-chart'" [scheme]="colorScheme"
      [results]="data" [legend]="showLegend" [explodeSlices]="explodeSlices" [labels]="showLabels" [doughnut]="doughnut"
      [gradient]="gradient" (select)="onSelect($event)">

    </ngx-charts-pie-chart>

  </div>

</div>