::ng-deep .p-editor-container {
  display: flex;
  flex-direction: column-reverse;
}

::ng-deep .p-editor-container .p-editor-toolbar {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

::ng-deep .p-editor-container .p-editor-content .ql-editor {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
