@mixin max-width($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

.container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.item {
    box-sizing: border-box;
    padding: 12px;
    flex: 1;
    flex-basis: 14.2%;
}

@include max-width(992px) {
    .item {
        flex-basis: 14.2%;
    }
}

@include max-width(640px) {
    .item {
        flex-basis: 100%;        
    }
}
