.cal-week-view {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 0;
}

.cal-week-view .cal-time-events {
  overflow-y: auto;
}

.cal-day-headers {
  margin-right: 0.5em;
}

.cal-day-columns {
  height: fit-content;
}

.cal-week-view .cal-time-events .cal-day-column {
  margin-right: 10px;
}

.cal-week-view .cal-hour {
  width: calc(100% + 10px);
}