<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <!-- Navigation Branding -->
        <ng-container ui-element [uiElement]="config.get('theme.navigation.header', {})" [data]="{}"></ng-container>

        <!-- User Menu -->

        <!-- Start Display Menu -->
        <p-panelMenu [model]="navigations" [multiple]="false"></p-panelMenu>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar [style]="config.get('theme.toolbar.style')" [class]="config.get('theme.toolbar.class')">
            <!-- toggle button -->
            <button type="button" mat-icon-button (click)="sidenav.toggle()" tabIndex="-1">
                <mat-icon>menu</mat-icon>
            </button>

            <span class="title" [matTooltip]="config.get('name')" [style]="config.get('theme.toolbar.title.style')">{{
                config.get('name')
                }}</span>
            <div class="flex-spacer"></div>

            <ng-container ui-element *ngFor="let action of actions" [uiElement]="action" [data]="data">
            </ng-container>

            <ng-container ui-element *ngFor="let action of config.get('theme.toolbar.actions')" [uiElement]="action"
                [data]="data">
            </ng-container>
        </mat-toolbar>

        <div class="content">
            <ng-container ui-element [uiElement]="uiElement" [data]="data"></ng-container>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>