#login {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-size: cover;
  background-color: #2d323e;

  #login-form {
    width: 300px;
    min-width: 300px;
    background: #ffffff;
    text-align: center;
  }
}
