<div
  [ngStyle]="uiElement.style"
  [ngClass]="uiElement.class"
>
  <div
    *ngFor="let ui of uiElement.screens"
    [ngStyle]="ui.style ? ui.style : safeGet(uiElement, 'section.style')"
    [ngClass]="ui.style ? ui.style : safeGet(uiElement, 'section.class')"
  >
    <ng-container *ngIf="condition(ui)">
      <!-- Form Group Header -->
      <div
        *ngIf="ui.header.display != false"
        [ngStyle]="
          ui.header?.style
            ? ui?.header?.style
            : safeGet(uiElement, 'header.style')
        "
        [ngClass]="
          ui.header?.class
            ? ui?.header?.class
            : safeGet(uiElement, 'header.class')
        "
        (click)="ui.expanded = !ui.expanded"
      >
        <button type="button" mat-icon-button>
          <mat-icon>{{
            ui.expanded == false ? "chevron_right" : "expand_more"
          }}</mat-icon>
        </button>
        <ng-container *ngFor="let header of ui?.header?.screens">
          <div
            ui-layout-wrapper
            *ngIf="condition(header)"
            [uiElement]="header"
            [data]="data"
          ></div>
        </ng-container>
      </div>
      <!-- Form Items -->
      <div
        *ngIf="ui?.expanded != false"
        [ngStyle]="
          ui.container?.style
            ? ui.container?.style
            : safeGet(uiElement, 'container.style')
        "
        [ngClass]="
          ui.container?.class
            ? ui.container?.class
            : safeGet(uiElement, 'container.class')
        "
      >
        <ng-container *ngFor="let screen of ui?.screens">
          <div
            ui-layout-wrapper
            *ngIf="condition(screen)"
            [uiElement]="screen"
            [data]="data"
          ></div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
