<div
  [ngStyle]="
    uiElement.style
      ? uiElement.style
      : config.configuration.formGenerator?.style
  "
>
  <div [ngStyle]="uiElement.headerStyle">
    <ng-container *ngFor="let ui of uiElement.header">
      <ui-layout-wrapper
        [uiElement]="ui"
        [data]="data"
        [ngStyle]="ui.layoutStyle"
      ></ui-layout-wrapper>
    </ng-container>
  </div>
  <div *ngFor="let ui of uiElement.screen" [ngStyle]="ui.style">
    <ng-container *ngIf="condition(ui.condition)">
      <!-- Form Group Header -->
      <div
        [ngStyle]="
          ui?.header?.style
            ? ui?.header?.style
            : config.configuration.formGenerator?.header?.style
        "
        [ngClass]="
          ui?.header?.class
            ? ui?.header?.class
            : config.configuration.formGenerator?.header?.class
        "
        (click)="ui.expanded = !ui.expanded"
      >
        <button type="button" mat-icon-button>
          <mat-icon>{{
            ui.expanded == false ? "keyboard_arrow_down" : "keyboard_arrow_up"
          }}</mat-icon>
        </button>
        <ng-container *ngFor="let header of ui?.header?.screen">
          <ui-layout-wrapper
            [uiElement]="header"
            [data]="data"
            [ngStyle]="header.layoutStyle"
          ></ui-layout-wrapper>
        </ng-container>
      </div>
      <!-- Form Items -->
      <div
        [style.display]="ui?.expanded == false ? 'none' : 'flex'"
        [ngStyle]="
          uiElement.container?.style
            ? uiElement.container?.style
            : config.configuration.formGenerator?.container?.style
        "
        [ngClass]="
          uiElement.container?.class
            ? uiElement.container?.class
            : config.configuration.formGenerator?.container?.class
        "
      >
        <ng-container *ngFor="let screen of ui?.screen">
          <ui-layout-wrapper
            [uiElement]="screen"
            [data]="data"
            [ngStyle]="screen.layoutStyle"
          ></ui-layout-wrapper>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
