<ngx-datatable
  [ngClass]="
    uiElement.class ? uiElement.class : config.configuration.dataTable?.class
  "
  [ngStyle]="
    uiElement.style ? uiElement.style : config.configuration.dataTable?.style
  "
  [rows]="rows"
  [externalSorting]="
    uiElement.externalSorting ? uiElement.externalSorting : false
  "
  (sort)="onSort($event)"
  [columnMode]="uiElement.columnMode ? uiElement.columnMode : 'force'"
  [headerHeight]="
    uiElement.headerHeight
      ? uiElement.headerHeight
      : config.configuration.dataTable?.headerHeight
  "
  [footerHeight]="
    uiElement.footerHeight
      ? uiElement.footerHeight
      : config.configuration.dataTable?.footerHeight
  "
  [rowHeight]="uiElement.rowHeight ? uiElement.rowHeight : 'auto'"
  [scrollbarH]="uiElement.scrollbarH ? uiElement.scrollbarH : true"
  [reorderable]="uiElement.reorderable ? uiElement.reorderable : true"
  [selectionType]="uiElement.selectionType ? uiElement.selectionType : ''"
  [externalPaging]="uiElement.externalPaging ? uiElement.externalPaging : true"
  [groupRowsBy]="uiElement.group?.groupRowsBy ? uiElement.groupRowsBy : ''"
  [groupExpansionDefault]="uiElement.group?.groupRowsBy ? true : false"
  [count]="total"
  [offset]="page - 1"
  [limit]="size"
  (page)="requestDownload($event)"
>
  <!-- Group Header Template -->
  <ngx-datatable-group-header
    *ngIf="uiElement.group?.groupRowsBy"
    [rowHeight]="uiElement.group?.rowHeight"
  >
    <ng-template let-group="group" ngx-datatable-group-header-template>
      <div
        [ngStyle]="uiElement.group?.style"
        [innerHTML]="format(group, uiElement.group?.transform) | safe: 'html'"
      ></div>
    </ng-template>
  </ngx-datatable-group-header>

  <!-- Column Template -->
  <ngx-datatable-column
    *ngFor="let column of uiElement.columns"
    [name]="column.label"
    [prop]="column.key"
    [flexGrow]="column.flexGrow"
    [canAutoResize]="column.canAutoResize"
    [width]="
      column.width
        ? column.width
        : config.configuration.dataTable?.minColumnWidth
    "
  >
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <div
        [ngStyle]="column?.style"
        [innerHTML]="format(value, column.transform, row) | safe: 'html'"
        (click)="click(row, column)"
      ></div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
