<ngx-datatable
  *ngIf="!uiElement.tableType || uiElement.tableType == 'table'"
  [ngClass]="uiElement.class ? uiElement.class : config.get('dataTable.class')"
  [ngStyle]="uiElement.style ? uiElement.style : config.get('dataTable.style')"
  [rows]="rows"
  [externalSorting]="
    uiElement.externalSorting ? uiElement.externalSorting : false
  "
  (sort)="onSort($event)"
  [columnMode]="uiElement.columnMode ? uiElement.columnMode : 'force'"
  [headerHeight]="
    uiElement.headerHeight
      ? uiElement.headerHeight
      : config.get('dataTable.headerHeight')
  "
  [footerHeight]="
    uiElement.footerHeight
      ? uiElement.footerHeight
      : config.get('dataTable.footerHeight')
  "
  [rowHeight]="uiElement.rowHeight ? uiElement.rowHeight : 'auto'"
  [scrollbarH]="uiElement.scrollbarH ? uiElement.scrollbarH : true"
  [reorderable]="uiElement.reorderable ? uiElement.reorderable : true"
  [selectionType]="uiElement.selectionType ? uiElement.selectionType : ''"
  [groupRowsBy]="
    uiElement.group?.groupRowsBy ? uiElement.group.groupRowsBy : ''
  "
  [groupExpansionDefault]="
    uiElement.group?.groupExpansionDefault ? true : false
  "
  [count]="total"
  [offset]="page - 1"
  [limit]="size"
  (page)="requestDownload($event)"
  [externalPaging]="uiElement.externalPaging ? uiElement.externalPaging : true"
  (activate)="$event.type == 'click' ? click($event.row) : ''"
>
  <!-- Group Header Template -->
  <ngx-datatable-group-header
    *ngIf="uiElement.group?.groupRowsBy"
    [rowHeight]="uiElement.group?.rowHeight"
  >
    <ng-template let-group="group" ngx-datatable-group-header-template>
      <div
        [ngStyle]="uiElement.group?.style"
        [innerHTML]="format(group, uiElement.group?.format) | safe: 'html'"
      ></div>
    </ng-template>
  </ngx-datatable-group-header>

  <!-- Column Template -->
  <ngx-datatable-column
    *ngFor="let column of uiElement.columns"
    [name]="column.label"
    [prop]="column.key"
    [flexGrow]="column.flexGrow"
    [canAutoResize]="column.canAutoResize"
    [width]="
      column.width ? column.width : config.get('dataTable.minColumnWidth')
    "
  >
    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
      <div
        [ngStyle]="column?.style"
        [innerHTML]="format(value, column.format, row) | safe: 'html'"
        (click)="click(row, column.click)"
      ></div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<!-- Card List -->
<ng-container *ngIf="uiElement.tableType == 'card'">
  <cdk-virtual-scroll-viewport
    [ngStyle]="
      uiElement.contentLayoutStyle
        ? uiElement.contentLayoutStyle
        : config.get('dataTable.contentLayoutStyle')
    "
    [itemSize]="total < size ? total : size"
  >
    <mat-card
      *cdkVirtualFor="let row of rows"
      (click)="click(row, uiElement.click)"
      [ngStyle]="
        uiElement.itemBoxStyle
          ? uiElement.itemBoxStyle
          : config.get('dataTable.itemBoxStyle')
      "
      [ngClass]="
        uiElement.itemBoxClass
          ? uiElement.itemBoxClass
          : config.get('dataTable.itemBoxClass')
      "
    >
      <ng-container *ngFor="let column of uiElement.columns">
        <ng-container
          ui-layout-wrapper
          [uiElement]="column"
          [data]="row"
        ></ng-container>
      </ng-container>
    </mat-card>
  </cdk-virtual-scroll-viewport>
  <pagination
    *ngIf="total > size"
    [key]="uiElement.key"
    [total]="total"
    [page]="page"
    [size]="size"
  ></pagination>
</ng-container>

<!-- Simple List -->
<div
  *ngIf="uiElement.tableType == 'list'"
  [ngStyle]="
    uiElement.contentLayoutStyle
      ? uiElement.contentLayoutStyle
      : config.get('dataTable.contentLayoutStyle')
  "
>
  <div
    *ngFor="let row of rows"
    [ngStyle]="
      uiElement.itemBoxStyle
        ? uiElement.itemBoxStyle
        : config.get('dataTable.itemBoxStyle')
    "
    [ngClass]="
      uiElement.itemBoxClass
        ? uiElement.itemBoxClass
        : config.get('dataTable.itemBoxClass')
    "
    (click)="click(row, uiElement.click)"
  >
    <ng-container *ngFor="let column of uiElement.columns">
      <ng-container
        ui-layout-wrapper
        [uiElement]="column"
        [data]="row"
      ></ng-container>
    </ng-container>
  </div>
</div>
