<mat-horizontal-stepper *ngIf="!uiElement.stepperType || uiElement.stepperType == 'horizontal'"
  (selectionChange)="selectionChanged($event)" [ngStyle]="uiElement.style" [ngClass]="uiElement.class">
  <ng-container *ngFor="let step of uiElement.steps">
    <mat-step *ngIf="condition(step)" [label]="step.label">
      <ng-container *ngFor="let ui of step.screens">
        <ng-container *ngIf="condition(ui)">
          <ng-container ui-element [uiElement]="ui" [data]="data"></ng-container>
        </ng-container>
      </ng-container>
    </mat-step>
  </ng-container>
</mat-horizontal-stepper>

<mat-vertical-stepper *ngIf="uiElement.stepperType == 'vertical'" (selectionChange)="selectionChanged($event)"
  [ngStyle]="uiElement.style" [ngClass]="uiElement.class">
  <ng-container *ngFor="let step of uiElement.steps">
    <mat-step *ngIf="condition(step)" [label]="step.label">
      <ng-container *ngFor="let ui of step.screens">
        <ng-container *ngIf="condition(ui)">
          <ng-container ui-element [uiElement]="ui" [data]="data"></ng-container>
        </ng-container>
      </ng-container>
    </mat-step>
  </ng-container>
</mat-vertical-stepper>