<div [style]="uiElement?.style"
    cdkDropListGroup>

    <!-- Column Header -->
    <div
        [style]="uiElement?.column?.layoutStyle">
        <div *ngFor="let column of uiElement?.column?.data"
            [style]="uiElement?.column?.style">

            <ng-container
                ui-element
                [uiElement]="uiElement?.column?.screen"
                [data]="column">
            </ng-container>

        </div>
    </div>


    <!-- rows -->
    <div *ngFor="let row of rows"
        [style]="uiElement?.row?.style">

        <!-- row header -->
        <div
            [style]="uiElement?.row?.header?.layoutStyle">
            <ng-container
                ui-element
                [uiElement]="uiElement?.row?.header?.screen"
                [data]="row">
            </ng-container>
        </div>

        <!-- columns -->
        <div *ngFor="let column of uiElement?.column?.data"
            [style]="uiElement?.cell?.style"
            cdkDropList
            [cdkDropListData]="{row, column}"
            (cdkDropListDropped)="drop($event)">

            <div *ngFor="let cell of row[column.key] ?? []"
                cdkDrag
                [cdkDragData]="cell"
                [cdkDragDisabled]="safeEval(uiElement.cdkDragDisabled ?? 'true')"
                (click)="click($event, cell, uiElement?.cell?.itemClick)"
                [style]="uiElement?.cell?.screenStyle">

                <ng-container
                    ui-element
                    [uiElement]="copy(uiElement?.cell?.screen)"
                    [data]="{cell, column}">
                </ng-container>

            </div>

        </div>

    </div>

</div>