<p-treeTable [value]="tree" [columns]="safeGet(uiElement, 'columns', [])">
    <ng-template pTemplate="header" let-columns>
        <tr [ttRow]="columns">
            <th style="width: 80px;">

            </th>
            <ng-container *ngFor="let column of columns">

                <th *ngIf="condition(column)">
                    <!-- Header -->
                    <ng-container ui-element *ngIf="column.header" [uiElement]="column.header" [data]="data">
                    </ng-container>
                    <span *ngIf="!column.header">{{ column.label }} </span>
                </th>
            </ng-container>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr>
            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            </td>
            <ng-container *ngFor="let column of columns; let i = index;">

                <td *ngIf="condition(column)" style="overflow: hidden;">
                    <ng-container ui-element *ngIf="condition(column)" [uiElement]="column" [data]="rowNode.node">
                    </ng-container>
                </td>
            </ng-container>
        </tr>

    </ng-template>
</p-treeTable>