<div
  [ngStyle]="config.get('user.style')"
  [ngClass]="config.get('user.class')"
>
  <button mat-button [matMenuTriggerFor]="menu">
    <ng-container *ngFor="let ui of config.get('user.header.screen')">
      <ng-container
        ui-layout-wrapper
        *ngIf="condition(ui)"
        [uiElement]="ui"
        [data]="data"
      ></ng-container>
    </ng-container>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <ng-container *ngFor="let ui of config.get('user.menu.screen')">
      <ng-container
        ui-layout-wrapper
        *ngIf="condition(ui)"
        [uiElement]="ui"
        [data]="data"
      ></ng-container>
    </ng-container>
  </mat-menu>
</div>
