<div [style]="uiElement.style" [class]="uiElement.class">
	<!-- Toolbar -->
	<div [style]="uiElement.toolbar?.style" class="toolbar">
		<button *ngIf="uiElement.save && safeEval(uiElement.save?.condition)" mat-icon-button (click)="save($event)">
			<mat-icon>save</mat-icon>
		</button>
		<span *ngIf="changed" [style]="uiElement.change?.style">{{uiElement.change?.message}}</span>
		<div class="spacer"></div>
		<button *ngIf="uiElement.delete && safeEval(uiElement.delete?.condition)" mat-icon-button
			(click)="save($event)">
			<mat-icon>delete</mat-icon>
		</button>
	</div>

	<!-- Section -->
	<ng-container *ngFor="let ui of uiElement.screens">
		<div *ngIf="condition(ui)" [style]="ui.style ? ui.style : safeGet(uiElement, 'section.style')"
			[class]="ui.class ? ui.class : safeGet(uiElement, 'section.class')">
			<!-- Form Group Header -->
			<div *ngIf="safeGet(ui, 'header.display') != false"
				[style]="ui.header?.style ? ui?.header?.style : safeGet(uiElement, 'header.style')"
				[class]="ui.header?.class ? ui?.header?.class : safeGet(uiElement, 'header.class')">
				<button type="button" mat-icon-button (click)="ui.expanded = !(ui.expanded ?? true)">
					<mat-icon [inline]="true">{{ ui.expanded == false ? 'chevron_right' : 'expand_more' }}</mat-icon>
				</button>
				<ng-container *ngFor="let header of ui?.header?.screens">
					<ng-container ui-element *ngIf="condition(header)" [uiElement]="header" [data]="data">
					</ng-container>
				</ng-container>
			</div>
			<!-- Form Items -->
			<div *ngIf="ui?.expanded != false"
				[style]="ui.container?.style ? ui.container?.style : safeGet(uiElement, 'container.style')"
				[class]="ui.container?.class ? ui.container?.class : safeGet(uiElement, 'container.class')">
				<ng-container *ngFor="let ui of ui.screens">
					<ng-container ui-element *ngIf="condition(ui)" [uiElement]="ui" [data]="data"
						[style]="ui.layoutStyle" [class]="ui.layoutClass">
					</ng-container>
				</ng-container>
			</div>
		</div>
	</ng-container>
</div>