<mat-form-field fxFlex>
  <mat-label>{{uiElement.label}}</mat-label>
  <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" matInput [evalValidate]="uiElement.errorCondition"
    [(ngModel)]="value" [placeholder]="uiElement.label" (dateTimeChange)="changed($event)" [selectMode]="uiElement.selectMode ? uiElement.selectMode : 'single'">
  <owl-date-time #dt1 [disabled]="uiElement.readonly == true ? true : false" [pickerType]="uiElement.pickerType ? uiElement.pickerType : 'both'"
    [pickerMode]="uiElement.pickerMode ? uiElement.pickerMode : 'dialog'"></owl-date-time>
  <mat-hint *ngIf="uiElement.hint">{{uiElement.hint}}</mat-hint>
  <mat-error>{{uiElement.errorMessage}}</mat-error>
</mat-form-field>