:host {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

#topbar {
  display: flex;
  flex-flow: row wrap;
}

.menu {
  padding: 0 8px;
  cursor: pointer;
}

.menu a {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

.active {
  font-weight: bold;
}
