<mat-form-field
  *ngIf="condition(uiElement)"
  [ngStyle]="uiElement.style"
  [ngClass]="uiElement.class"
  [appearance]="uiElement.appearance"
  [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'"
>
  <mat-label>{{ uiElement.label }}</mat-label>
  <mat-select
    #select
    [evalValidate]="uiElement.errorCondition"
    [multiple]="uiElement.multiple"
    [(ngModel)]="value"
    [required]="uiElement.required"
    [placeholder]="uiElement.label"
  >
    <mat-option
      *ngFor="let option of uiElement.options"
      [value]="option[uiElement.optionKey]"
    >
      {{ format(option, uiElement) }}
    </mat-option>
  </mat-select>
  <mat-hint *ngIf="uiElement.hint">{{ uiElement.hint }}</mat-hint>
  <mat-error>{{ uiElement.errorMessage }}</mat-error>
</mat-form-field>
