<ng-container
  *ngIf="!uiElement.selectionType || uiElement.selectionType == 'selection'"
>
  <mat-form-field
    *ngIf="condition(uiElement)"
    [ngStyle]="uiElement.style"
    [ngClass]="uiElement.class"
    [appearance]="uiElement.appearance"
    [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'"
  >
    <mat-select
      #select
      [evalValidate]="uiElement.errorCondition"
      [multiple]="uiElement.multiple"
      [(ngModel)]="value"
      [required]="uiElement.required"
      [placeholder]="uiElement.placeholder"
      (selectionChange)="selected($event.value)"
      (openedChange)="openChanged($event)"
    >
      <mat-option disabled *ngIf="!uiElement.options">
        <div style="display: flex; align-items: center;">
          <span style="flex: 1">Loading...</span>
          <mat-spinner class="spinner" diameter="20"></mat-spinner>
        </div>
      </mat-option>
      <mat-option
        *ngFor="let option of uiElement.options"
        [value]="uiElement.optionKey ? option[uiElement.optionKey] : option"
      >
        {{ format(option) }}
      </mat-option>
    </mat-select>

    <mat-label>{{ uiElement.label }}</mat-label>
    <mat-hint *ngIf="uiElement.hint">{{ uiElement.hint }}</mat-hint>
    <mat-error>{{ uiElement.errorMessage }}</mat-error>
  </mat-form-field>
</ng-container>

<ng-container *ngIf="uiElement.selectionType == 'autocomplete'">
  <mat-form-field
    *ngIf="condition(uiElement)"
    [ngStyle]="uiElement.style"
    [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'"
    [appearance]="uiElement.appearance"
  >
    <mat-label>{{ uiElement.label }}</mat-label>
    <input
      matInput
      [placeholder]="uiElement.placeholder"
      [evalValidate]="uiElement.errorCondition"
      [(ngModel)]="value"
      [matAutocomplete]="auto"
      [required]="uiElement.required"
      [autofocus]="uiElement.autofocus ? uiElement.autofocus : false"
    />
    <button
      type="button"
      matSuffix
      mat-icon-button
      (click)="click($event)"
      *ngIf="uiElement.icon"
      [ngStyle]="uiElement.iconStyle"
    >
      <mat-icon [style.color]="uiElement.iconColor || 'green'">{{
        uiElement.icon
      }}</mat-icon>
    </button>
    <mat-hint *ngIf="uiElement.hint">{{ uiElement.hint }}</mat-hint>
    <mat-error>{{ uiElement.errorMessage }}</mat-error>

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event.option.value)"
      [panelWidth]="uiElement.width"
    >
      <mat-option
        *ngFor="let option of uiElement.options"
        [value]="uiElement.optionKey ? option[uiElement.optionKey] : option"
      >
        {{ format(option) }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</ng-container>

<!-- TAGS -->
<ng-container *ngIf="uiElement.selectionType == 'tag'">
  <tag-input
    [(ngModel)]="value"
    [placeholder]="uiElement.placeholder"
    [secondaryPlaceholder]="uiElement.secondaryPlaceholder"
    [separatorKeyCodes]="safeGet(uiElement, 'separatorKeyCodes', [13])"
    [separatorKeys]="safeGet(uiElement, 'separatorKeys', [''])"
  ></tag-input>
</ng-container>
