<mat-toolbar
  [ngClass]="config.get('toolbar.class')"
  [ngStyle]="config.get('toolbar.style')"
>
  <mat-progress-bar
    *ngIf="showLoadingBar"
    class="loading-bar"
    color="accent"
    mode="indeterminate"
  ></mat-progress-bar>

  <button
    type="button"
    mat-icon-button
    (click)="isTopNav ? event.send('drawer-toggle') : nav.back()"
  >
    <mat-icon *ngIf="isTopNav">menu</mat-icon>
    <mat-icon *ngIf="!isTopNav">arrow_back</mat-icon>
  </button>
  <span class="title" [matTooltip]="title">{{ title }}</span>
  <div class="flex-spacer"></div>

  <ng-container *ngFor="let action of actions">
    <ng-container *ngIf="condition(ui)">
      <ng-container
        ui-layout-wrapper
        [uiElement]="action"
        [data]="data"
      ></ng-container>
    </ng-container>
  </ng-container>
</mat-toolbar>
