<mat-toolbar
  class="mat-elevation-z1 no-print"
  [ngStyle]="config.configuration.toolbar?.style"
>
  <mat-progress-bar
    *ngIf="showLoadingBar"
    class="loading-bar"
    color="accent"
    mode="indeterminate"
  ></mat-progress-bar>

  <button
    type="button"
    mat-icon-button
    (click)="isTopNav ? drawerToggle() : back()"
  >
    <mat-icon *ngIf="isTopNav">menu</mat-icon>
    <mat-icon *ngIf="!isTopNav">arrow_back</mat-icon>
  </button>
  <span class="title" [matTooltip]="title">{{ title }}</span>
  <div class="flex-spacer"></div>

  <button
    *ngIf="action"
    mat-icon-button
    [matTooltip]="action.name"
    (click)="action.action()"
  >
    <mat-icon>{{ action.icon }}</mat-icon>
  </button>

  <div class="" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="refresh()" matTooltip="Refresh">
      <mat-icon class="icon">refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>
