.mat-toolbar.mat-primary {
    z-index: 1000;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .loading-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }

    /deep/ .mat-form-field-label {
        opacity: 0.5;
    }
}

.flex-spacer {
    flex-grow: 1;
}

.search {
    width: 100%;
}
