.mat-toolbar {
  margin: -24px;
  margin-bottom: 0;
  width: auto;
  top: -25px !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  width: auto !important;
}

.spacer {
  flex: 1 1 auto;
}

.dialog-content {
  max-height: 70vh;
}