::ng-deep .p-dialog {
  max-height: unset !important;
  height: auto;
}

::ng-deep .p-dialog-content {
  padding: 0 !important;
  max-height: calc(100vh - 35px);
  overflow: auto;
}

::ng-deep .p-dialog-header {
  padding: 4px 4px 4px 12px !important;
}

::ng-deep .p-dialog-title {
  font-size: small !important;
}
