:host {
  height: 100%;
}

::ng-deep .p-dialog {
  height: auto;
}

::ng-deep .p-dialog-content {
  padding: 0 !important;
  overflow: auto;
}

::ng-deep .p-dialog-header {
  padding: 4px 4px 4px 12px !important;
}

::ng-deep .p-dialog-title {
  font-size: small !important;
}
