:host {
  z-index: 10;
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
}

:host ::ng-deep .p-menubar {
  padding: 0 12px 0 12px;
}

:host ::ng-deep .p-menubar-root-list {
  font-size: small;
}

:host ::ng-deep .p-submenu-list {
  z-index: 10 !important;
}

:host ::ng-deep .active {
  font-weight: bold;
}

:host ::ng-deep .p-menuitem-link {
  padding: 8px;
}
