<mat-toolbar
  [ngStyle]="
    uiElement.toolbar?.style
      ? uiElement.toolbar?.style
      : config.get('toolbar.style')
  "
>
  <button
    type="button"
    mat-icon-button
    (click)="event.send({ name: 'close-dialog' })"
    tabIndex="-1"
  >
    <mat-icon>close</mat-icon>
  </button>
  <span>{{ uiElement.name }}</span>
</mat-toolbar>
<mat-progress-bar
  *ngIf="showLoadingBar"
  class="loading-bar"
  color="accent"
  mode="indeterminate"
></mat-progress-bar>
<div
  class="dialog-content"
  [ngStyle]="uiElement.contentStyle"
  [ngClass]="uiElement.contentClass"
>
  <ng-container *ngFor="let ui of uiElement.screen">
    <ng-container
      ui-layout-wrapper
      *ngIf="condition(ui)"
      [uiElement]="ui"
      [data]="data"
    ></ng-container>
  </ng-container>
</div>
