<mat-form-field
  *ngIf="(!uiElement.selectionType || uiElement.selectionType == 'selection') && condition(uiElement)"
  [style]="uiElement.style"
  [class]="uiElement.class"
  [appearance]="uiElement.appearance"
  [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'auto'">

  <mat-select
    #select
    [(ngModel)]="value"
    [evalValidate]="uiElement.errorCondition"
    [multiple]="uiElement.multiple"
    [required]="uiElement.required"
    [placeholder]="uiElement.placeholder"
    (selectionChange)="selected($event.value)"
    (openedChange)="openChanged($event)">
    <mat-option
      *ngIf="uiElement.multiple != true">
    </mat-option>
    <mat-option
      disabled
      *ngIf="!uiElement.options">
      <div
        style="display: flex; align-items: center">
        <span
          style="flex: 1">Loading...</span>
        <mat-spinner
          class="spinner"
          diameter="20">
        </mat-spinner>
      </div>
    </mat-option>
    <mat-option
      *ngFor="let option of uiElement.options"
      [value]="safeGet(option, uiElement.optionKey??'', option)"
      [ngStyle]="safeGet(option, 'style', uiElement.optionStyle)">
      <ng-container
        *ngIf="uiElement.optionTemplate"
        ui-element
        [uiElement]="uiElement.optionTemplate"
        [data]="option">
      </ng-container>

      <ng-container
        *ngIf="!uiElement.optionTemplate">
        {{
        format(option)
        }}
      </ng-container>
    </mat-option>
  </mat-select>

  <mat-label>
    {{
    uiElement.label
    }}
  </mat-label>
  <mat-hint
    *ngIf="uiElement.hint">
    {{
    uiElement.hint
    }}
  </mat-hint>
  <mat-error>
    {{
    uiElement.errorMessage
    }}
  </mat-error>
</mat-form-field>



<mat-form-field
  *ngIf="uiElement.selectionType == 'autocomplete' && condition(uiElement)"
  [ngStyle]="uiElement.style"
  [ngClass]="uiElement.class"
  [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'"
  [appearance]="uiElement.appearance">
  <mat-label>
    {{
    uiElement.label
    }}
  </mat-label>
  <input
    matInput
    #autocomplete
    [placeholder]="uiElement.placeholder"
    [evalValidate]="uiElement.errorCondition"
    [(ngModel)]="value"
    [matAutocomplete]="auto"
    [required]="uiElement.required"
    [autofocus]="uiElement.autofocus ? uiElement.autofocus : false" />
  <button
    type="button"
    matSuffix
    mat-icon-button
    (click)="click($event)"
    *ngIf="uiElement.icon"
    [ngStyle]="uiElement.iconStyle">
    <mat-icon
      [style.color]="uiElement.iconColor || 'green'">
      {{
      uiElement.icon
      }}
    </mat-icon>
  </button>
  <mat-hint
    *ngIf="uiElement.hint">
    {{
    uiElement.hint
    }}
  </mat-hint>
  <mat-error>
    {{
    uiElement.errorMessage
    }}
  </mat-error>

  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selected($event.option.value)"
    [panelWidth]="uiElement.width">
    <mat-option
      *ngFor="let option of uiElement.options"
      [value]="
          uiElement.optionKey
            ? safeGet(option, uiElement.optionKey, option)
            : option
        "
      [ngStyle]="safeGet(option, 'style', uiElement.optionStyle)">
      <ng-container
        *ngIf="uiElement.optionTemplate"
        ui-element
        [uiElement]="uiElement.optionTemplate"
        [data]="option">
      </ng-container>

      <ng-container
        *ngIf="!uiElement.optionTemplate">
        {{
        format(option)
        }}
      </ng-container>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<!-- TAGS -->
<mat-form-field
  *ngIf="uiElement.selectionType == 'tag' && condition(uiElement)"
  [ngStyle]="uiElement.style"
  [ngClass]="uiElement.class"
  [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'"
  [appearance]="uiElement.appearance">
  <mat-label>
    {{
    uiElement.label
    }}
  </mat-label>
  <mat-select-trigger>
    <mat-chip-list
      #chipList
      cdkDropList
      cdkDropListOrientation="uiElement.cdkDropListOrientation"
      (cdkDropListDropped)="drop($event)">
      <mat-chip
        *ngFor="let v of safeGet(value, [])"
        cdkDrag
        [selectable]="safeGet(uiElement, 'selectable', true)"
        [removable]="safeGet(uiElement, 'removable', true)"
        (removed)="remove(v)">
        {{
        format(v)
        }}
        <mat-icon
          matChipRemove
          *ngIf="safeGet(uiElement, 'removable', true)">
          cancel
        </mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-select-trigger>
  <input
    matInput
    [matChipInputFor]="chipList"
    [matChipInputAddOnBlur]="safeGet(uiElement, 'addOnBlur', true)"
    [placeholder]="uiElement.placeholder"
    [evalValidate]="uiElement.errorCondition"
    [required]="uiElement.required"
    [autofocus]="uiElement.autofocus ? uiElement.autofocus : false"
    (matChipInputTokenEnd)="add($event)" />
</mat-form-field>


<!-- Pick List -->
<p-pickList
  *ngIf="uiElement.selectionType == 'picklist'"
  [dragdrop]="uiElement.dragdrop ?? true"
  [source]="uiElement.options"
  [target]="value">
  <ng-template
    let-option
    pTemplate="item">

    <ng-container
      *ngIf="uiElement.optionTemplate"
      ui-element
      [uiElement]="uiElement.optionTemplate"
      [data]="option">
    </ng-container>

    <ng-container
      *ngIf="!uiElement.optionTemplate">
      {{
      format(option)
      }}
    </ng-container>

  </ng-template>
</p-pickList>