<h3
  mat-subheader
  [ngStyle]="
    uiElement.header?.style
      ? uiElement.header?.style
      : config.get('calendar.daily.header.style')
  "
  [innerHTML]="
    format(
      uiElement.headerDate
        ? uiElement.headerDate
        : config.get('calendar.daily.header.date')
      , this.data.startDate
    ) | safe: 'html'
  "
></h3>
<mat-divider></mat-divider>
<div>
  <ng-container *ngFor="let item of data.items">
    <div
      [ngClass]="
        uiElement.item?.class
          ? uiElement.item?.class
          : config.get('calendar.daily.item.class')
      "
      [ngStyle]="
        uiElement.item?.style
          ? uiElement.item?.style
          : config.get('calendar.daily.item.style')
      "
      (click)="click(item)"
    >
      <ng-container *ngFor="let ui of uiElement.daily?.screen">
        <ng-container
          ui-layout-wrapper
          *ngIf="condition(ui)"
          [uiElement]="ui"
          [data]="item"
        ></ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
