<ng-container *ngIf="!isReady">
    <mat-spinner class="loading"></mat-spinner>
</ng-container>
<ng-container *ngIf="isReady">
    <div fxLayout="row wrap" fxLayoutAlign="start" class="content">
        <div *ngFor='let screen of screenConfigs' [fxFlex]="(isHandset$ | async) ? 100 : screen.width ? screen.width : 100">

            <div class="item-container mat-elevation-z2">
                <div class="item-header" [style.backgroundColor]="screen.headerColor ? screen.headerColor : headerColor">
                    <div [style.color]="screen.headerTextColor ? screen.headerTextColor : '#FFFFFF'">
                        {{screen.name}}</div>
                    <small *ngIf="screen.description" class="item-sub-header">{{screen.description}}</small>
                </div>

                <div class="item-content" fxLayout="row wrap">
                    <div *ngFor='let ui of screen.screen' [fxFlex]="ui.width ? ui.width : 100" class="item-element">
                        <text *ngIf="! ui.type || ui.type == 'text'" [uiElement]="ui" [(data)]="data"></text>
                        <text-area *ngIf="ui.type == 'text-area'" [uiElement]="ui" [(data)]="data"></text-area>
                        <json-editor *ngIf="ui.type == 'json-editor'" [uiElement]="ui" [(data)]="data"></json-editor>
                        <checkbox *ngIf="ui.type == 'checkbox'" [uiElement]="ui" [(data)]="data"></checkbox>
                        <selection *ngIf="ui.type == 'selection'" [uiElement]="ui" [(data)]="data"></selection>
                        <autocomplete *ngIf="ui.type == 'autocomplete'" [uiElement]="ui" [(data)]="data"></autocomplete>
                        <date *ngIf="ui.type == 'date'" [uiElement]="ui" [(data)]="data"></date>
                        <simple-table *ngIf="ui.type == 'simple-table'" [uiElement]="ui" [(data)]="data"></simple-table>
                        <file-upload *ngIf="ui.type == 'file-upload'" [uiElement]="ui" [(data)]="data"></file-upload>
                        <img-upload *ngIf="ui.type == 'img-upload'" [uiElement]="ui" [(data)]="data"></img-upload>
                        <script-button *ngIf="ui.type == 'script-button'" [uiElement]="ui" [(data)]="data"></script-button>
                        <card-list *ngIf="ui.type == 'card-list'" [uiElement]="ui" [(data)]="data"></card-list>
                        <signature *ngIf="ui.type == 'signature'" [uiElement]="ui" [(data)]="data"></signature>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>