button {
    mat-icon {
        color: white;
    }
}

.content {
    margin: 0;
}

.item-container {
    margin: 12px 12px 12px 12px;
    background: white;
}

.item-header {
    padding: 8px 8px 8px 8px;
}

.item-sub-header {
    color: white;
    opacity: 0.7;
}

.item-element {
    padding: 4px 12px 4px 12px;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }