<button
  *ngIf="
    condition(uiElement) &&
    (!uiElement.buttonType || uiElement.buttonType == 'mat-raised-button')
  "
  mat-raised-button
  [disabled]="uiElement.disabled == true"
  (click)="click()"
  [color]="uiElement.color"
  [ngStyle]="uiElement.style"
>
  <mat-icon *ngIf="uiElement.icon">{{ uiElement.icon }}</mat-icon>
  {{ uiElement.label }}
</button>

<button
  *ngIf="condition(uiElement) && uiElement.buttonType == 'mat-button'"
  mat-button
  [disabled]="uiElement.disabled == true"
  (click)="click()"
  [color]="uiElement.color"
  [ngStyle]="uiElement.style"
>
  {{ uiElement.label }}
</button>

<button
  *ngIf="condition(uiElement) && uiElement.buttonType == 'mat-icon-button'"
  mat-icon-button
  [disabled]="uiElement.disabled == true"
  [matTooltip]="uiElement.label"
  (click)="click()"
  [color]="uiElement.color"
  [ngStyle]="uiElement.style"
>
  <mat-icon *ngIf="uiElement.icon">{{ eval(uiElement.icon) }}</mat-icon>
</button>

<button
  *ngIf="condition(uiElement) && uiElement.buttonType == 'mat-menu-item'"
  mat-menu-item
  [disabled]="uiElement.disabled == true"
  [matTooltip]="uiElement.label"
  (click)="click()"
  [ngStyle]="uiElement.style"
>
  {{ uiElement.label }}
</button>
