<button
  *ngIf="
    (!uiElement.buttonType || uiElement.buttonType == 'mat-raised-button') &&
    condition(uiElement)
  "
  mat-raised-button
  [disabled]="uiElement.disabled == true"
  [matTooltip]="uiElement.tooltip"
  (click)="click($event)"
  [color]="uiElement.color"
  [ngStyle]="uiElement.style"
  [tabIndex]="uiElement.tabIndex?uiElement.tabIndex:-1"
>
  <mat-icon *ngIf="uiElement.icon" [ngStyle]="uiElement.iconStyle">{{ uiElement.icon }}</mat-icon>
  {{ uiElement.label }}
</button>

<button
  *ngIf="uiElement.buttonType == 'mat-button' && condition(uiElement)"
  mat-button
  [disabled]="uiElement.disabled == true"
  [matTooltip]="uiElement.tooltip"
  (click)="click($event)"
  [color]="uiElement.color"
  [ngStyle]="uiElement.style"
  [tabIndex]="uiElement.tabIndex?uiElement.tabIndex:-1"
>
  <mat-icon *ngIf="uiElement.icon" [ngStyle]="uiElement.iconStyle">{{ uiElement.icon }}</mat-icon>
  {{ uiElement.label }}
</button>

<button
  *ngIf="uiElement.buttonType == 'mat-icon-button' && condition(uiElement)"
  mat-icon-button
  [disabled]="uiElement.disabled == true"
  [matTooltip]="uiElement.tooltip"
  (click)="click($event)"
  [color]="uiElement.color"
  [ngStyle]="uiElement.style"
  [tabIndex]="uiElement.tabIndex?uiElement.tabIndex:-1"
>
  <mat-icon *ngIf="uiElement.icon" [ngStyle]="uiElement.iconStyle">{{ eval(uiElement.icon) }}</mat-icon>
</button>


<button
  *ngIf="uiElement.buttonType == 'mat-fab' && condition(uiElement)"
  mat-fab
  [disabled]="uiElement.disabled == true"
  [matTooltip]="uiElement.tooltip"
  (click)="click($event)"
  [color]="uiElement.color"
  [ngStyle]="uiElement.style"
  [tabIndex]="uiElement.tabIndex?uiElement.tabIndex:-1"
>
  <mat-icon *ngIf="uiElement.icon" [ngStyle]="uiElement.iconStyle">{{ eval(uiElement.icon) }}</mat-icon>
  {{ uiElement.label }}
</button>

<button
  *ngIf="uiElement.buttonType == 'mat-menu-item' && condition(uiElement)"
  mat-menu-item
  [disabled]="uiElement.disabled == true"
  [matTooltip]="uiElement.tooltip"
  (click)="click($event)"
  [ngStyle]="uiElement.style"
  [tabIndex]="uiElement.tabIndex?uiElement.tabIndex:-1"
>
  {{ uiElement.label }}
</button>
