<signature-pad
	(window:resize)="beResponsive()"
	[options]="options"
	(onBeginEvent)="drawStart()"
	(onEndEvent)="drawComplete()"
	#SignaturePad
>
</signature-pad>
<div [ngStyle]="uiElement.buttonLayoutStyle">
	<button mat-raised-button class="mb-4" (click)="save()" color="warn">
		{{ uiElement.saveLabel ? uiElement.saveLabel : 'Save' }}
	</button>
	<div fxFlex></div>
	<button mat-raised-button class="mb-4" (click)="clear()">
		{{ uiElement.clearLabel ? uiElement.clearLabel : 'Clear' }}
	</button>
</div>
