<div #container (window:resize)="beResponsive()">
    <signature-pad  [options]="options"
                    (onBeginEvent)="drawStart()"
                    (onEndEvent)="drawComplete()">
    </signature-pad>
</div>
<div [ngStyle]="uiElement.buttonLayoutStyle">
    <button mat-raised-button class="mb-4" (click)="save()" color="warn">
        {{uiElement.saveLabel?uiElement.saveLabel:'Save'}}
    </button>
    <div fxFlex></div>
    <button mat-raised-button class="mb-4" (click)="clear()">
        {{uiElement.clearLabel?uiElement.clearLabel:'Clear'}}
    </button>
</div>