::ng-deep .p-datatable-header {
  padding: 0 !important;
  font-weight: unset !important;
}

.td-content {
  overflow: hidden;
}

.filter {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 12px;
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
}
