<ng-container *ngIf="condition()">
  <!-- material input -->
  <mat-form-field
    *ngIf="
      !uiElement.type ||
      !uiElement.inputType ||
      uiElement.inputType == 'text' ||
      uiElement.inputType == 'number' ||
      uiElement.inputType == 'email' ||
      uiElement.inputType == 'password'
    "
    [appearance]="uiElement.appearance"
    [ngStyle]="uiElement.style"
    [ngClass]="uiElement.class"
    [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'"
  >
    <mat-label>{{ uiElement.label }}</mat-label>
    <input
      matInput
      [evalValidate]="uiElement.errorCondition"
      [type]="uiElement.inputType ? uiElement.inputType : 'text'"
      [placeholder]="uiElement.label"
      [(ngModel)]="value"
      [required]="uiElement.required"
      [readonly]="uiElement.readonly"
      (keyup.enter)="eval(uiElement['keyupEnter'])"
      (input)="typeAheadEventEmitter.next($event)"
    />

    <button
      type="button"
      matSuffix
      mat-icon-button
      (click)="click()"
      *ngIf="uiElement.icon"
    >
      <mat-icon [style.color]="uiElement.iconColor || 'green'">{{
        uiElement.icon
      }}</mat-icon>
    </button>

    <mat-hint *ngIf="uiElement.hint">{{ uiElement.hint }}</mat-hint>
    <mat-error>{{ uiElement.errorMessage }}</mat-error>
  </mat-form-field>

  <!-- hidden -->
  <input
    *ngIf="uiElement.inputType == 'hidden'"
    type="hidden"
    [value]="value"
  />

  <!-- textarea -->
  <mat-form-field
    *ngIf="uiElement.inputType == 'textarea'"
    [appearance]="uiElement.appearance"
    [ngStyle]="uiElement.style"
    [ngClass]="uiElement.class"
    [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'"
  >
    <mat-label>{{ uiElement.label }}</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      [cdkAutosizeMinRows]="uiElement.rows"
      [(ngModel)]="value"
      [placeholder]="uiElement.label"
      [readonly]="uiElement.readonly"
      [required]="uiElement.required"
      [maxlength]="uiElement.maxlength ? uiElement.maxlength : '-1'"
    ></textarea>
  </mat-form-field>

  <!-- datetime  -->
  <mat-form-field
    *ngIf="uiElement.inputType == 'date'"
    [appearance]="uiElement.appearance"
    [ngStyle]="uiElement.style"
    [ngClass]="uiElement.class"
    [floatLabel]="uiElement.floatLabel ? uiElement.floatLabel : 'always'"
  >
    <mat-label>{{ uiElement.label }}</mat-label>
    <input
      [owlDateTime]="dt1"
      [owlDateTimeTrigger]="dt1"
      matInput
      [evalValidate]="uiElement.errorCondition"
      [(ngModel)]="value"
      [placeholder]="uiElement.label"
      (dateTimeChange)="inputChanged($event)"
      [required]="uiElement.required"
      [selectMode]="uiElement.selectMode ? uiElement.selectMode : 'single'"
      onfocus="blur()"
    />
    <button
      type="button"
      matSuffix
      mat-icon-button
      [owlDateTimeTrigger]="uiElement.click ? false : dt1"
      *ngIf="uiElement.icon"
      (click)="click()"
    >
      <mat-icon [style.color]="uiElement.iconColor || 'green'">{{
        uiElement.icon
      }}</mat-icon>
    </button>
    <owl-date-time
      #dt1
      [disabled]="uiElement.readonly == true ? true : false"
      [pickerType]="uiElement.pickerType ? uiElement.pickerType : 'both'"
      [pickerMode]="uiElement.pickerMode ? uiElement.pickerMode : 'dialog'"
    ></owl-date-time>
    <mat-hint *ngIf="uiElement.hint">{{ uiElement.hint }}</mat-hint>
    <mat-error>{{ uiElement.errorMessage }}</mat-error>
  </mat-form-field>

  <!-- checkbox -->
  <mat-checkbox
    *ngIf="uiElement.inputType == 'checkbox'"
    [ngStyle]="uiElement.style"
    [ngClass]="uiElement.class"
    [(ngModel)]="value"
    [(indeterminate)]="uiElement.indeterminate"
    [(labelPosition)]="uiElement.labelPosition"
    [disabled]="uiElement.disabled"
  >
    <div [innerHtml]="uiElement.label | safe: 'html'"></div>
  </mat-checkbox>
</ng-container>
