:host ::ng-deep .p-panelmenu .p-panelmenu-header > a {
  padding: 12px;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content {
  font-size: small;

  .p-menuitem-link-active {
    color: white !important;
  }
}

:host ::ng-deep .p-menuitem-link-active {
  background-color: #039be5 !important;
  color: white !important;
}

:host ::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
  color: inherit;
}

:host ::ng-deep .p-menuitem-icon {
  font-size: xx-small;
  color: crimson;
}